<nav>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/tenders">Active Tenders</a></li>
        <li><a href="/tenders/past">Ended tenders</a></li>
        <li><a href="/tenders/new">Add New Tender</a></li>
    </ul>
</nav>