<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Active tenders"}) %>
<body>
    <%- include('partials/navbar') %>

    <h1>Active Tenders</h1>
    <%- include('partials/table', { tenders: tenders }) %>

</body>
</html>