<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Landing"}) %>
<body>
    <%- include('partials/navbar') %>

    <h1>Welcome!</h1>
    <p> Witaj w systemie przetargowym utworzonym w ramach pierwszego projektu. System umożliwia dodanie przetargu oraz ofert dla aktywnych przetargów. Po zakończeniu przetargu wyświetlane są oferty spełniające wymagania budżetowe. small change</p>

</body>
</html>