<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Past Tenders"}) %>
<body>
    <%- include('partials/navbar') %>

    <h1>Past Tenders</h1>
    <%- include('partials/table', { tenders: tenders }) %>


</body>
</html>